.calendar-display
  .calendar-head
    span
      text-transform: uppercase
      border-bottom: 2px solid white
      padding-bottom: 5px
  .calendar
    table
      width: 100%
      margin-top: 24px
      tr
        text-transform: uppercase
        td
          padding: 12px
          font-size: 14px
