.calendar-display
  ul
    list-style-type: none
    display: flex
    flex-wrap: wrap
    justify-content: flex-start
    width: 350px
    li
      width: 50px
      padding: 10px
      border: 1px solid black
