.lightbox
  display: none
  background: rgba(0, 0, 0, 0.6)
  +position(fixed, 0 0 0 0)

.modal
  text-align: left
  font-size: 1em
  font-family: $font-stack
  padding: 30px
  position: fixed
  right: -400px
  top: 0
  bottom: 0
  min-width: 300px
  z-index: 100
  display: block
  background: white
  overflow: hidden
  .closeBtn
    color: black
    position: absolute
    top: 15px
    right: 10px


.addModal, .onboardingModal
  font-family: $font-stack
  width: 400px
  p
    font-family: $font-stack
    text-align: center
  .addFormError
    display: none
    color: red

  input[type="text"]
    border: 1px solid black
    padding: 10px
    margin: 10px 0px

  .addBtn
    display: block
    padding: 10px 20px
    background: $addButton
    text-decoration: none
    text-align: center
    color: white
    box-shadow: 0px 2px 1px #999
    transition: 0.2s all
    margin-bottom: 20px
    &:hover
      background: $addButtonHover


  .popularFavs
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

    .popFav
      margin: 1px
      font-size: 0.7em
      width: 32%
      padding: 10px
      border: 1px solid $popFavHover
      text-align: center
      color: white
      text-decoration: none
      background: $popFav
      box-shadow: 0px 1px 1px #999
      transition: 0.2s all
      &:hover
        background: $popFavHover
        transform: scale(1.1, 1.1)


.settingsModal
  font-size: 1em
  fieldset
    margin: 30px auto
  input[type=radio]
    transform: scale(1.2)
    margin: 5px 10px
    display: inline-block
  select
    padding: 10px
    margin: 5px 0
  .settingsBtn
    font-size: 0.8em
    display: inline-block
    text-align: center
    padding: 10px 15px
    text-decoration: none
    background: $addButton
    transition: 0.2s all
    color: white
    box-shadow: 0px 2px 1px #999
    &:hover
      background: $addButtonHover
      box-shadow: none
  .removeBtn
    background: #a73f3f
    transition: 0.2s all
    &:hover
      background: darken(#a73f3f, 10%)
  .bgURLError
    display: none
    color: red


.onboardingModal
  img
    width: 100px
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
  p
    text-align: left
  h2
    margin-top: 10px
    margin-bottom: 5px
  .onboardGreeting
    font-size: 1.5em
    font-family: "Raleway"
    text-align: center
    position: absolute
    top: 65%
    left: 50%
    transform: translate(-50%, -65%)

.calendarModal
  overflow: auto
  .calendar-display
    width: 300px
    text-align: center
    .calendar-head
      font-size: 1.5em
      margin-top: 50px
    .calendar
      .currentDay
        span
          display: block
          padding: 10px
          // border-radius: 100%
          background: $popFav
          border: 2px solid $popFavHover
          color: white
          font-size: 1.1em
