.lightbox
  display: none
  background: rgba(0, 0, 0, 0.6)
  +position(fixed, 0 0 0 0)

.modal
  text-align: left
  font-size: 1em
  font-family: $font-stack
  padding: 30px
  position: fixed
  right: 0
  top: 0
  bottom: 0
  min-width: 300px
  z-index: 100
  display: none
  background: white
  overflow: hidden
  .closeBtn
    color: black
    position: absolute
    top: 15px
    right: 10px


.addModal, .onboardingModal
  font-family: $font-stack
  width: 400px
  p
    font-family: $font-stack
    text-align: center
  #addFormError
    display: none
    color: red

  input[type="text"]
    border: 1px solid black
    padding: 10px
    margin: 10px 0px

  .addBtn
    display: block
    padding: 10px 20px
    background: $addButton
    text-decoration: none
    text-align: center
    color: white
    box-shadow: 0px 2px 1px #999
    transition: 0.2s all
    margin-bottom: 20px
    &:hover
      background: $addButtonHover


  .popularFavs
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center

    .popFav
      margin: 1px
      font-size: 0.7em
      width: 32%
      padding: 10px
      border: 1px solid $popFavHover
      text-align: center
      color: white
      text-decoration: none
      background: $popFav
      box-shadow: 0px 1px 1px #999
      transition: 0.2s all
      &:hover
        background: $popFavHover
        transform: scale(1.1, 1.1)


.settingsModal
  font-size: 1em
  h3
    text-align: center
  fieldset
    margin: 30px auto
  input[type=radio]
    transform: scale(1.5)
    margin: 5px 10px
    display: inline-block
  select
    padding: 10px
    margin: 5px 0
