@font-face
  font-family: BebasNeue
  src: url("/assets/BebasNeue.otf")

@import url(https://fonts.googleapis.com/css?family=Raleway|Roboto+Mono|Montserrat|Pridi|Work+Sans|Mitr)

// Button colors
$addButton: #45bb78
$addButtonHover: #2b9f5d
$popFav: rgb(127, 119, 224)
$popFavHover: rgb(93, 84, 205)




$font-stack: "Montserrat", BebasNeue, $font-stack-helvetica, sans-serif

@keyframes shake
  10%, 90%
    transform: rotate3d(0, 0, 1, 0.7 + deg)
  20%, 80%
    transform: rotate3d(0, 0, 1, -(0.7) + deg)
  30%, 50%, 70%
    transform: rotate3d(0, 0, 1, 0.7 + deg)
  40%, 60%
    transform: rotate3d(0, 0, 1, -(0.7) + deg)

@keyframes swing
  20%
    -webkit-transform: rotate3d(1, 0, 1, 0.5deg)
    transform: rotate3d(0, 0, 2, 1deg)
  40%
    -webkit-transform: rotate3d(0, 0, 1, -0.5deg)
    transform: rotate3d(0, 0, 2, -1deg)
  60%
    -webkit-transform: rotate3d(1, 0, 1, 0.5deg)
    transform: rotate3d(0, 0, 2, 1deg)
  80%
    -webkit-transform: rotate3d(0, 0, 1, -0.5deg)
    transform: rotate3d(0, 0, 2, -1deg)
  to
    -webkit-transform: rotate3d(1, 0, 1, 0.5deg)
    transform: rotate3d(0, 0, 2, 1deg)


%material-box
  border: 1.0px solid black
  box-shadow: 0px 2px 2px #999
