// Vendor
@import "bourbon/bourbon"
@import "base/base"
// Partials
@import "vars"
@import "modals"
@import "calendar"
@import "onboarding"
@import "favorites"

body, ul, ol
  padding: 0
  margin: 0
  font-family: $font-stack
.wrapper
  display: flex
  flex-direction: row
  justify-content: center

  .content-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    .container
      width: 960px
      margin: 0 auto

    .heading
      display: flex
      margin-left: 30px
      margin-top: 30px
      text-align: left
      font-family: $font-stack
      justify-content: space-between
      h1
        margin: 0
        font:
          size: 6em
      p
        margin: 0
        font:
          weight: 100
          size: 3.5em
      .options
        display: flex
        margin-right: 30px
        .userAction
          height: 10px
          display: block
          padding: 20px
          // font-size: 16px
          text-decoration: none
          color: #666
          transition: 0.2s all
          &:hover
            color: black
        .arrowContainer
          font-size: 4.5em
          width: 22%
          position: absolute
          margin-top: 0%

          p
            font-size: .5em
